html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

h1 {
  font-family: "Shrikhand", cursive;
  font-weight: 500;
}

body {
  font-family: "Roboto", sans-serif;
}

.btn {
  padding: 20px 50px;
}

.header {
  background: #fff;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.header__logo {
  width: 40%;
  max-height: 70%;
}
.header__backhome {
  position: absolute;
  left: 20px;
  color: #353535;
  font-size: 1.4em;
}

.footer {
  background: #353535;
  width: 100%;
  height: 225px;
  color: #fff;
}
.footer__title {
  font-family: "shrikhand", cursive;
  font-size: 22px;
  font-weight: 300;
  margin-left: 30px;
  padding-top: 25px;
}
.footer__nav {
  margin-left: 30px;
  margin-top: 10px;
  width: 60%;
  height: 130px;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: space-around;
}
.footer__nav__element {
  font-weight: 500;
  font-size: 16px;
}

.fa-utensils {
  font-size: 1.1em;
}

.fa-hands-helping {
  font-size: 0.75em;
}

.footer .fas {
  padding-right: 5px;
}

.mailto {
  text-decoration: none;
  color: #fff;
}

.map {
  width: 100%;
  height: 60px;
  background: #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}
.map__text {
  font-weight: 500;
  padding: 15px;
}

.presentation {
  width: 100%;
  height: 300px;
  background: #f6f6f6;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.presentation__title {
  font-size: 30px;
  line-height: 2rem;
}
.presentation__text {
  font-size: 20px;
  line-height: 1.6rem;
}
.presentation__btn {
  color: #9356DC;
}

.howitworks {
  width: 100%;
  height: 475px;
}
.howitworks__title {
  font-size: 25px;
  padding-top: 30px;
  padding-left: 20px;
}
.howitworks__listofcontent {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 70%;
  padding-top: 30px;
}
.howitworks__listofcontent__element {
  list-style: none;
  display: flex;
  align-items: center;
  width: 90%;
  height: 35%;
  background: #f6f6f6;
  margin: 7px;
  border-radius: 20px;
}

li {
  font-weight: bold;
  font-size: 18px;
}

li span {
  margin-right: 40px;
  margin-left: -13px;
  color: #fff;
  padding: 8px 13px;
  font-weight: normal;
  font-size: small;
  background-color: #9356DC;
  border-radius: 20px;
}

li .ic1 {
  margin-right: 40px;
  color: #838383;
}

li .fa-store {
  margin-right: 38px;
  color: #9356DC;
}

.restaurants {
  width: 100%;
  height: 1170px;
  background: #f6f6f6;
}
.restaurants__title {
  font-size: 25px;
  padding-top: 30px;
  padding-left: 20px;
}
.restaurants__container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 90%;
}
.restaurants__container__article {
  width: 90%;
  height: 23%;
  background: #fff;
  border-radius: 20px;
  box-shadow: 5px 5px 5px #eaeaea;
}
.restaurants__container__article__image {
  width: 100%;
  height: 70%;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.restaurants__container__article__text {
  width: 40%;
  height: 30%;
  display: flex;
  flex-direction: column;
  line-height: 1.4em;
  padding-left: 15px;
  padding-top: 12px;
}

.fa-heart {
  font-size: 1.7em;
  position: absolute;
  right: 50px;
}

.showplate {
  height: 280px;
  width: 100%;
  margin-bottom: -50px;
}
.showplate__image {
  width: 100%;
  object-fit: cover;
  position: absolute;
  z-index: -1;
}

.menu {
  width: 100%;
  height: 1300px;
  background: #f6f6f6;
  border-radius: 50px;
}
.menu__heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-top: 35px;
  padding-bottom: 30px;
}
.menu__heading__title {
  font-size: 32px;
}
.menu__heading__icon {
  font-size: 1.8em;
}
.menu__container {
  height: 25%;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 10px;
}
.menu__container__mealtitle {
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  padding-bottom: 5px;
}
.menu__container__mealtitle__border {
  border-bottom: 3px solid #99E2D0;
  width: 40px;
}
.menu__container__meal {
  height: 23%;
  margin-top: 15px;
  padding-left: 10px;
  border-radius: 20px;
  background: #fff;
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 30px 30px;
  grid-template-areas: "title ." "text price";
  align-items: center;
  align-content: center;
}
.menu__container__meal__title {
  grid-area: title;
  font-size: 20px;
  font-weight: 600;
}
.menu__container__meal__text {
  grid-area: text;
  font-size: 18px;
  font-weight: 300;
}
.menu__container__meal__price {
  grid-area: price;
  font-size: 16px;
  font-weight: 700;
  justify-self: center;
}
.menu__container__meal__check {
  display: none;
  position: absolute;
}
.menu__order {
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*# sourceMappingURL=style.css.map */
